##Домашнее задание к лекции "Поиск аномалий в данных и работа с пропущенными значениями"

##Задание 1. Загрузка данных

Изучить представленный набор данных на основе описания его столбцов в файле “horse_data.names” , загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [2]:
import pandas as pd

headers = [
    'surgery',
    'age',
    'hospital_number',
    'rectal temperature',
    'pulse',
    'respiratory rate',
    'temperature of extremities',
    'peripheral pulse',
    'mucous membranes',
    'capillary refill time',
    'pain',
    'peristalsis',
    'abdominal distension',
    'nasogastric tube',
    'nasogastric reflux',
    'nasogastric reflux PH',
    'rectal examination',
    'abdomen',
    'packed cell volume',
    'total protein',
    'abdominocentesis appearance',
    'abdomcentesis total protein',
    'outcome',
    'surgical lesion',
    'type of lesion 1',
    'type of lesion 2',
    'type of lesion 3',
    'cp_data'
]

all_df = pd.read_csv('/home/galchonkov/netology/pyda_homeworks/horse_data.csv', names=headers, na_values="?")



df = all_df.filter(items=['surgery', 'age', 'hospital_number', 'pulse', 'rectal temperature', 
                            'respiratory rate', 'temperature of extremities', 'pain', 'outcome'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         300 non-null    int64
 2   hospital_number             300 non-null    int64
 3   pulse                       276 non-null    float64
 4   rectal temperature          240 non-null    float64
 5   respiratory rate            242 non-null    float64
 6   temperature of extremities  244 non-null    float64
 7   pain                        245 non-null    float64
 8   outcome                     299 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 21.2 KB

##Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [52]:
df.describe()

,surgery,age,hospital_number,pulse,rectal temperature,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,3.000000e+02,276.000000,240.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,1.085889e+06,71.913043,38.167917,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,1.529801e+06,28.630557,0.732289,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,5.184760e+05,30.000000,35.400000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,5.289040e+05,48.000000,37.800000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,5.303055e+05,64.000000,38.200000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,5.347275e+05,88.000000,38.500000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,5.305629e+06,184.000000,40.800000,96.000000,4.000000,5.00000,3.000000

In [55]:
q1 = df['age'].quantile(0.25)
q3 = df['age'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

outliers = df[(df['age'] < lower_bound) | (df['age'] > upper_bound)]
outliers

,surgery,age,hospital_number,pulse,rectal temperature,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,5290409,164.0,39.1,84.0,4.0,2.0,2.0
9,2.0,9,5299629,90.0,38.3,NaN,1.0,5.0,1.0
13,2.0,9,5291329,92.0,38.0,28.0,1.0,1.0,2.0
16,1.0,9,5301219,128.0,NaN,36.0,3.0,4.0,2.0
23,1.0,9,534998,130.0,38.3,60.0,NaN,2.0,1.0
39,1.0,9,5277409,146.0,39.2,96.0,NaN,NaN,2.0
41,2.0,9,5288249,150.0,39.0,72.0,NaN,NaN,1.0
55,1.0,9,5282839,160.0,38.6,20.0,3.0,3.0,2.0
74,1.0,9,5292929,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,534092,100.0,39.7,NaN,3.0,2.0,3.0
82,1.0,9,5290759,100.0,38.1,80.0,3.0,3.0,1.0
103,1.0,9,5292489,140.0,38.0,68.0,1.0,3.0,1.0
109,1.0,9,5297379,84.0,38.4,40.0,3.0,3.0,2.0
135,1.0,9,5287179,136.0,38.1,48.0,3.0,5.0,2.0
191,2.0,9,5287279,100.0,NaN,44.0,2.0,4.0,1.0
212,1.0,9,5294369,120.0,38.9,30.0,1.0,3.0,1.0
227,1.0,9,5289419,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,534597,120.0,38.5,70.0,NaN,NaN,1.0
244,1.0,9,5291409,124.0,38.2,88.0,1.0,2.0,1.0
252,1.0,9,5291719,124.0,38.8,36.0,3.0,2.0,2.0
255,1.0,9,5294539,184.0,38.8,84.0,1.0,4.0,2.0
262,2.0,9,5305629,88.0,38.6,28.0,NaN,NaN,1.0
275,1.0,9,5297159,150.0,38.8,50.0,1.0,5.0,2.0
287,2.0,9,5305129,84.0,39.5,30.0,NaN,NaN,1.0

In [56]:
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

outliers = df[(df['pulse'] < lower_bound) | (df['pulse'] > upper_bound)]
outliers

,surgery,age,hospital_number,pulse,rectal temperature,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,5290409,164.0,39.1,84.0,4.0,2.0,2.0
41,2.0,9,5288249,150.0,39.0,72.0,NaN,NaN,1.0
55,1.0,9,5282839,160.0,38.6,20.0,3.0,3.0,2.0
255,1.0,9,5294539,184.0,38.8,84.0,1.0,4.0,2.0
275,1.0,9,5297159,150.0,38.8,50.0,1.0,5.0,2.0

In [58]:
q1 = df['rectal temperature'].quantile(0.25)
q3 = df['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

outliers = df[(df['rectal temperature'] < lower_bound) | (df['rectal temperature'] > upper_bound)]
outliers

,surgery,age,hospital_number,pulse,rectal temperature,respiratory rate,temperature of extremities,pain,outcome
20,1.0,1,530157,72.0,39.9,60.0,1.0,5.0,1.0
44,1.0,1,535407,140.0,35.4,24.0,3.0,4.0,3.0
54,2.0,1,529461,114.0,40.3,36.0,3.0,2.0,3.0
75,1.0,9,534092,100.0,39.7,NaN,3.0,2.0,3.0
80,1.0,1,527518,98.0,36.4,35.0,3.0,4.0,2.0
91,2.0,1,529461,114.0,40.3,36.0,3.0,2.0,2.0
99,2.0,1,530002,108.0,39.6,51.0,3.0,2.0,1.0
118,1.0,1,533983,78.0,36.5,30.0,1.0,5.0,1.0
141,2.0,1,522979,42.0,36.0,30.0,NaN,NaN,2.0
238,2.0,1,528702,88.0,36.1,NaN,3.0,3.0,3.0
251,2.0,1,527940,42.0,36.6,18.0,3.0,1.0,2.0
259,1.0,1,527734,72.0,40.8,42.0,3.0,2.0,2.0
281,2.0,1,530624,78.0,40.0,NaN,3.0,2.0,2.0
298,1.0,1,530612,100.0,36.5,24.0,3.0,3.0,1.0

In [59]:
q1 = df['respiratory rate'].quantile(0.25)
q3 = df['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

outliers = df[(df['respiratory rate'] < lower_bound) | (df['respiratory rate'] > upper_bound)]
outliers

,surgery,age,hospital_number,pulse,rectal temperature,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,5290409,164.0,39.1,84.0,4.0,2.0,2.0
39,1.0,9,5277409,146.0,39.2,96.0,NaN,NaN,2.0
41,2.0,9,5288249,150.0,39.0,72.0,NaN,NaN,1.0
82,1.0,9,5290759,100.0,38.1,80.0,3.0,3.0,1.0
84,1.0,1,529849,60.0,37.8,80.0,1.0,2.0,1.0
103,1.0,9,5292489,140.0,38.0,68.0,1.0,3.0,1.0
106,1.0,1,528668,52.0,38.3,96.0,NaN,NaN,1.0
120,1.0,1,528682,54.0,39.4,66.0,1.0,2.0,1.0
125,1.0,1,528461,42.0,38.0,68.0,4.0,3.0,1.0
186,1.0,1,5278331,64.0,39.3,90.0,2.0,NaN,1.0
208,1.0,1,535338,88.0,37.8,80.0,3.0,NaN,3.0
229,1.0,9,534597,120.0,38.5,70.0,NaN,NaN,1.0
244,1.0,9,5291409,124.0,38.2,88.0,1.0,2.0,1.0
255,1.0,9,5294539,184.0,38.8,84.0,1.0,4.0,2.0
265,2.0,1,528590,56.0,NaN,68.0,3.0,3.0,3.0
269,1.0,1,527883,64.0,39.3,90.0,2.0,NaN,1.0
295,1.0,1,533886,120.0,NaN,70.0,4.0,2.0,3.0

##Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [11]:
missings = df.isnull()
total_missings = missings.sum()
total_missings

surgery                        1
age                            0
hospital_number                0
pulse                         24
rectal temperature            60
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [28]:
# В строке 132 dataframe присутствует пропуск в столбцах 'surgery' и 'outcome', 
# исходя из суммарного количества всех пропусков, то в данных столбцах они встречаются по 1 разу

column_surgery = 'surgery'
missings_surgery = df[df['surgery'].isnull()]

column_outcome = 'outcome'
missings_outcome = df[df['outcome'].isnull()]

missings_surgery

Empty DataFrame
Columns: [surgery, age, hospital_number, pulse, rectal temperature, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [27]:
# С учетом того, что мода их равна 1.0 и не пристуствуют выбросы,
# то заполняем пустые значени модами столбцов

df['surgery'].fillna(df['surgery'].mode()[0], inplace=True)
df['outcome'].fillna(df['outcome'].mode()[0], inplace=True)

In [50]:
# Поскольку в данных столбцах больше всего выбросов, то целесообразно выбрать медиану, так как
# она меня чувствительная к ним, также стоит обратить внимание на то, что необходимо также
# группировать данные в столбцах, иначе возможно не заполнение всех пропусков в данных

df['pain'].fillna(df['pain'].median(), inplace=True)
df['rectal temperature'].fillna(df.groupby(['surgery', 'age'])['rectal temperature'].transform('median'), inplace=True)
df['pulse'].fillna(df.groupby(['pain', 'age'])['pulse'].transform('median'), inplace=True)
df['temperature of extremities'].fillna(df.groupby(['age', 'outcome'])['temperature of extremities'].transform('median'), inplace=True)
df['respiratory rate'].fillna(df.groupby(['outcome', 'age'])['respiratory rate'].transform('median'), inplace=True)
df['respiratory rate'].fillna(df['respiratory rate'].median(), inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   age                         300 non-null    int64
 2   hospital_number             300 non-null    int64
 3   pulse                       300 non-null    float64
 4   rectal temperature          300 non-null    float64
 5   respiratory rate            300 non-null    float64
 6   temperature of extremities  300 non-null    float64
 7   pain                        300 non-null    float64
 8   outcome                     300 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 21.2 KB