##Домашнее задание

#Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

- если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
- для источников paid и email из России ставим ad;
- для источников paid и email не из России ставим other;
- все остальные варианты берём из traffic_source без изменений.

In [16]:
import pandas as pd

log = pd.read_csv('/home/galchonkov/netology/pyda_homeworks/visit_log.csv', sep=';')

#при помощи loc задаем новый столбец, значение которого удовлетворяет условиям
log.loc[(log['traffic_source'] == 'yandex') | (log['traffic_source'] == 'google'), 'source_type'] = 'organic'
log.loc[((log['traffic_source'] == 'paid') | (log.traffic_source == 'email')) & (log['region'] == 'Russia'), 'source_type'] = 'ad'
log.loc[((log['traffic_source'] == 'paid') | (log.traffic_source == 'email')) & (log['region'] != 'Russia'), 'source_type'] = 'other'

#при помощи loc задаем значение нового столбца для всех остальных случаев 
log.loc[:, 'source_type'] = log['traffic_source']

log.head(5)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,yandex

##Задание 2

В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [1]:
import pandas as pd

request=pd.read_csv('/home/galchonkov/netology/pyda_homeworks/URLs.txt')

#фильтруем строки, которые удовлетворяют шаблону регулярного выражения
request[request.url.str.contains('/[0-9]{8}-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

##Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [13]:
import pandas as pd

marks = pd.read_csv('/home/galchonkov/netology/pyda_homeworks/ratings.csv')

#группируем по столбцу userId и rating + считаем количество оценок
user_raitings_count = marks.groupby('userId')['rating'].count()

#фильтруем данные по столбцу с оценками, которые больше 100
user_raitings_more_100 = user_raitings_count[user_raitings_count > 100].index

#фильтрация данных для выбранных пользователей
new_marks = marks[marks['userId'].isin(user_raitings_more_100)]

#группируем по столбцу userId и timestamp + добавляем максимальное и минальное значения
user_lifetime = new_marks.groupby('userId')['timestamp'].agg(['min', 'max'])

#рассчет времени жизни и подсчет среднего
user_lifetime['lifetime'] = user_lifetime['max'] - user_lifetime['min']
average_lifetime = user_lifetime['lifetime'].mean()


user_lifetime.head()

               min         max   lifetime
userId
4        949778714   949982274     203560
8       1154389340  1154474527      85187
15       997937239  1469330735  471393496
17      1127468587  1127476640       8053
19       855190091   855195373       5282

##Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»).
Нужно сформировать две таблицы:

таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
аналогичную таблицу по типам выручки с указанием адреса клиента.

In [15]:
import pandas as pd

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [23]:
merged_revenue = pd.merge(rzd, client_base, on = 'client_id', how = 'outer')
merged_revenue = pd.merge(merged_revenue, auto, on = 'client_id', how = 'outer')
merged_revenue = pd.merge(merged_revenue, air, on = 'client_id', how = 'outer')

pivot_first_table = merged_revenue.pivot_table(values=['rzd_revenue', 'auto_revenue', 'air_revenue'], index='client_id', aggfunc='sum')
print(pivot_first_table)

           air_revenue  auto_revenue  rzd_revenue
client_id
111                0.0           0.0       1093.0
112                0.0           0.0       2810.0
113                0.0       57483.0      10283.0
114                0.0          83.0       5774.0
115               81.0         912.0        981.0
116                4.0        4834.0          0.0
117               13.0          98.0          0.0
118              173.0           0.0          0.0

In [31]:
merged_revenue = pd.merge(rzd, client_base, on = 'client_id', how = 'outer')
merged_revenue = pd.merge(merged_revenue, auto, on = 'client_id', how = 'outer')
merged_revenue = pd.merge(merged_revenue, air, on = 'client_id', how = 'outer')

pivot_second_table = merged_revenue.pivot_table(values=['rzd_revenue', 'auto_revenue', 'air_revenue'], index='client_id', aggfunc='sum')
pivot_second_table['address'] = merged_revenue.groupby('client_id')['address'].first()
print(pivot_second_table)

           air_revenue  auto_revenue  rzd_revenue          address
client_id
111                0.0           0.0       1093.0  Комсомольская 4
112                0.0           0.0       2810.0   Энтузиастов 8а
113                0.0       57483.0      10283.0  Левобережная 1а
114                0.0          83.0       5774.0          Мира 14
115               81.0         912.0        981.0        ЗЖБИиДК 1
116                4.0        4834.0          0.0    Строителей 18
117               13.0          98.0          0.0  Панфиловская 33
118              173.0           0.0          0.0     Мастеркова 4